* {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
	padding-left: 10px;
	position: absolute;
	background-color: #252a33;
	box-shadow: 0px 0px 10px 5px rgb(241, 237, 237);
}

.header > span {
	padding: 5px;
	color: white;
	font-size: 32px;
	overflow: hidden;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
}

.nav {
	margin-left: 35%;
	font-size: 22px;
	text-align: right;
	font-family: serif;
	display: inline-block;
	overflow: hidden;
}

.nav > li {
	padding: 10px;
	overflow: hidden;
	margin-left: 20px;
	display: inline-block;
}

.nav > li > a {
	color: white;
	text-decoration: none;
}

.home {
	border-radius: 10px;
	border-bottom: 2px solid rgb(4, 153, 253);
}

.home > a {
	color: rgb(4, 153, 253) !important;
}

.nav > li:hover {
	border-radius: 10px;
	transition: 0.3s ease-in-out;
}

.nav > li:hover a {
	transition: 0.3s ease-in-out;
	color: rgb(4, 153, 253) !important;
}

.mainImg {
	width: 100vw;
	height: 100vh;
}

.note {
    top: 40%;
	left: 8%;
	padding: 8px;
	position: absolute;
}

.note > h1 {
	font-size: 40px;
	color: #252a33;
	margin-left: 20px;
	margin-bottom: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.note > h1 > i {
	font-size: 60px;
	margin-left: 30px;
}

.note > h2 {
	font-size: 30px;
	margin-top: 18px;
	margin-left: 20px;
	color: rgb(4, 153, 253);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.note > p {
	font-size: 19px;
	color: #252a33;
    margin-top: 25px;
	font-weight: bold;
	margin-left: 70px;
	font-family: serif;
	font-style: oblique;
}

.arrow > a {
	left: 50%;
	bottom: 1%;
	padding: 10px;
	font-size: 32px;
	color: #252a33;
	font-weight: bold;
	position: absolute;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid rgb(255, 255, 255);
}

.arrow > a:hover {
	color: white;
	border-color: #252a33;
	transition: 0.3s ease-in-out;
}

.sheading {
	padding: 10px;
	font-size: 38px;
	margin-top: 80px;
	color: #252a33;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sheading > i {
	font-size: 42px;
	color: #252a33;
	margin-bottom: 10px;
}

.sheading > span {
	color: rgb(4, 153, 253);
}

.services {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin-top: 50px;
	align-items: center;
	justify-content: space-evenly;
}

.scard {
	width: 400px;
	height: 180px;
	margin-top: 50px;
	text-align: center;
	box-shadow: 0px 0px 10px 5px rgb(241, 237, 237);
}

.scard:hover {
	cursor: pointer;
	background-color: #252a33;
	transition: 0.4s ease-in-out;
	box-shadow: 0px 0px 10px 5px #252a33;
}

.scard:hover span {
	font-weight: bold;
	color: rgb(4, 153, 253);
	transition: 0.s ease-in-out;
}

.scard:hover i {
	display: none;
	transition: 0.s ease-in-out;
}

.scard i {
	font-size: 65px;
	margin-top: 35px;
	color: #252a33;
}

.scard:hover p {
    display: block;
	color: white;
	transition: 0.3s ease-in-out;
}

.scard span {
    font-size: 22px;
	margin-top: 20px;
	display: inline-block;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.scard p {
    display: none;
	padding: 18px;
    margin-top: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paralex {
	width: 100%;
	height: 350px;
	margin-top: 100px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(./images/v.webp);
}

.paralex > h1 {
	padding: 8px;
	color: white;
	margin-top: 150px;
	margin-left: 250px;
	display: inline-block;
	border: 1px solid white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paralex2 {
	height: 400px;
	position: relative;
	background-image: url(./images/v2.webp);
}

.paralex2 > img {
	width: 300px;
	height: auto;
	margin-left: 100px;
	border-radius: 300px;
}

.paralex2 > h2 {
	top: 50%;
	left: 30%;
	font-size: 32px;
	padding: 8px;
	position: absolute;
	display: inline-block;
	color: #252a33;     
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paralex2 > h2 > q {
	color: rgb(4, 153, 253);
}


.social {
	width: 100%;
	display: inline-block;
	
}

.social > h1 {
	font-size: 42px;
	color: #252a33;
	margin-top: 10px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fa-handshake {
	color: #252a33;
}

.plateform {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin-top: 100px;
	align-items: center;
	justify-content: space-around;
	
}

.socialCards {
	width: 200px;
	height: 200px;
	padding: 10px;
	font-size: 65px;
	margin-top: 30px;
	margin-left: 20px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px 5px rgb(241, 237, 237);
}

.socialCards > a {
	top: 37%;
	left: 37%;
	position: absolute;
}

.fa-face {
	background-color: rgb(7, 70, 206);
}

.fa-facebook {
	color: white;
}

.inst {
	background-image: linear-gradient(135deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80) !important;
}

.fa-instagram {
	color: white;
}
.fa-twitter{
	color: white;
}
.twitter{
	background-color: #1DA1F2;
}

.whats {
	background-color: #19b105;
}

.fa-whatsapp {
	color: white;
}

.siteContact {
	width: 100%;
	height: 680px;
	margin-top: 100px;
	position: relative;
	display: inline-block;
}

.siteContact img{
	top: 2%;
	left: 15%;
	height: auto;
	width: 300px;
	position: absolute;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.siteContact > i {
	top: 0;
	left: 47%;
	padding: 30px;
	font-size: 35px;
    position: absolute;
	border-radius: 50px;
	color: rgb(4, 187, 253);
	background-color: #252a33;
}
.contact {
	width: 350px;
	height: 450px;
	margin-top: 50px;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	box-shadow: 0px 0px 10px 5px rgb(241, 237, 237);
}

.contact > input {
	width: 60%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 20px;
	display: inline-block;
	border: 1px solid black;
}

.contact > textarea {
	padding: 10px;
	font-size: 16px;
	margin-top: 30px;
}

.contact > button {
	width: 25%;
	border: none;
	padding: 10px;
	color: white;
	font-size: 16px;
	margin-top: 30px;
	margin-left: 180px;
	border-radius: 20px;
	color: rgb(4, 187, 253);
	background-color: #252a33;
}

.contact > button:hover {
	cursor: pointer;
	color: white;
	transition: 0.3s ease-in-out;
}

iframe {
	width: 90%;
	margin-left: 5%;
	margin-top: 50px;
	margin-bottom: 250px;
	box-shadow: 0px 0px 10px 5px rgb(221, 216, 216);
}

.footer {
	width: 100%;
	height: 200px;
	display: flex;
	flex-flow: row;
	background-color: #252a33;
	justify-content: space-around;
}

.footUl {
	margin-top: 30px;
	list-style: none;
	display: inline-block;
}

.footUl > li {
	padding: 5px;
	color: white;
	text-decoration: none;
}

.footUl > li > b {
	font-size: 20px;
	color: rgb(4, 153, 253);
}

.footUl > li > a {
	color: white;
	text-decoration: none;
}

.footer2 > hr {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.footer2 {
	height: 60px;
	margin-top: 0;
	color: white;
	display: inline-block;
}
.footer  i{
	width: 100%;
	color: white;
	font-size: 32px;
	text-align: center;
	display: inline-block;
	padding-bottom: 10px;
}
.footer2 > p {
	margin-top: 20px;
	margin-left: 100px;
}


@media only screen and (max-width: 1440px) {
	
	.siteContact img{
		left: 3% !important;
	}
	
}
@media only screen and (max-width: 1000px) {
	
	.mainImg {
		width: 100vw;
		height: 80vh
	}
	.arrow > a {
		height: 40px;
		left: 50%;
		top : 70% !important;
	
	}
}	

@media only screen and (max-width: 960px) {
	
	.siteContact img{
		display: none;
	}
	
	.nav{
	margin-left: 20%;
	}
}